html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-style: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #ebe1d5;
}

input {
    width: 300px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #000;
    text-shadow: 0px 0px 1px;
    border-top: 1px solid #312E3D;
    border-left: 1px solid #312E3D;
    border-right: 1px solid #312E3D;
    border-bottom: 1px solid #56536A;
    border-radius: 4px;
    background-color: #fff;
}

.but {
    width: 300px;
    min-height: 20px;
    display: block;
    background-color: #64a8f4;
    border: 1px solid #64a8f4;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}

#usrInfo p1 {
    color: black;
}

#usrInfo a {
    color: gray;
}

.usrInfo {
    display: inline;
}

.usrInfo1 {
    text-align: left;
    display: inline;
}

.usrInfo2 {
    display: inline;
}

.usrInfoH2 {
    color: black;
    margin: 0px;
    padding: 0px;
    display: inline;
}

#manage {
    text-align: center;
    margin: 20;
}

.pageTypesP {
    border: solid black;
    border-width: 0px;
    border-bottom-width: 1px;
}

.pageTypesSpan {
    margin: 20;
    margin-bottom: 0px;
    /*border: solid gray;
    border-width: 0px;
    border-bottom-width: 1px;
    border-radius: 3px 3px 0px 0px;
    margin-left: -6px;*/
}

.pageTypesSpanSelected {
    margin: 20;
    /*border: solid gray;
    border-width: 1px;*/
}

.aRef {
    font-size: 20;
    margin: 20;
    margin-bottom: -1px;
    text-decoration: none;
    color: black;
}

.pageTypesaSelected {
    font-size: 20;
    border: solid black;
    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    text-decoration: none;
}

#liveTable table {
    width: 60%;
    margin: auto;
}