<html>

<head>
    <title>直播管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<div id="usrInfo">
    <p1>欢迎 {{.UsrName}}:
        <a href="/logout">退出</a>
    </p1>
</div>
<div id="manage">
    <p class="pageTypesP">
        <!--<hr/>-->
        <span class="pageTypesSpanSelected"><a class="pageTypesaSelected" href="/livingList">living list</a></span>
        <span class="pageTypesSpan"><a href="/blackList">black list</a></span>
        <span class="pageTypesSpan"><a href="/whiteList">white list</a></span>
    </p>
</div>

<body>
</body>

</html>